spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/deal-service
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show_sql: true
  main:
    web-application-type: servlet
  liquibase:
    change-log: classpath:liquibase/changelog.yaml
    enabled: true

server:
  port: 8081

springdoc:
  swagger-ui:
    url: /openapi.yaml